<h2>About me</h2>
<p>
  It's been 20 years since I wrote my first line of code. Since then, I got my MSc in Software Engineering back in 2010.
  Since then, I have been software developer (1 year), team lead (1 year), co-founder and CEO (3 years) and CTO (1.5 years) 
  in different software companies.
</p>
<p>
  My professional career history advertises me as Java developer in the field of enterprise systems. 
  While that's (very) true, it's not the whole truth! I am enthusiastic about human communication, teamwork, technology (as a whole) and learning new things. 
</p>
<p>
  I am currently a PhD student at Stony Brook University. 
</p>

<h2>Any ongoing projects?</h2>
  <p>
    Yes! A few months ago I started with the idea of building a fully automated online radio station, which now has many listeners worldwide and named 
    <a href="https://raa.media">Radio Auto-asaad</a>. I invite you to take a look at its <a href="http://devblog.raa.media">technical blog</a> to see my notes on design approaches and challenges of building Radio Auto-asaad.
  </p>

<hr />

<h2>My online footprint</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://github.com/hrasadi">
      <span class="fa fa-github fa-lg main-list-item-icon"></span>
    </a>
  </li>
  <li class="main-list-item">
    <a href="https://linkedin.com/in/hrasadi">
      <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    </a>
  </li>
  <li class="main-list-item">
    <a href="assets/Asaadi-Resume-24061396.pdf">
      Resume
    </a>
  </li>
</ul>
